/******************************************************************************
  main
*******************************************************************************/
.aaa {
  height: 1000vh;
}

.main-image {
  width: 98%;
  margin-left: 1vw;
}

/******************************************************************************
  header
*******************************************************************************/

.header-image {
  width: 100%;
}

.tab-area {
  top: 0;
  position: absolute;
  right: 1vw;
}

.tab-group {
  display: flex;
}

.tab {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
  cursor: pointer;
  border: 0.1vw solid #67bcf7;
  border-bottom: none;
  border-radius: 1vw 1vw 0 0;
  padding: 0.5vw 2vw;
  color: white;
  font-family: 'ヒラギノ丸ゴ ProN', sans-serif;
  background: #67bcf7;
}

.tab.is-active {
  color: #158bde;
  background: white;
}

/******************************************************************************
  contents
*******************************************************************************/

.tab-content {
  width: 100%;
  height: 100%;
  display: none;
  margin: 5vw auto;
}

.tab-content.is-show {
  display: block;
}

.tab-content .title {
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  color: #158bde;
  font-family: 'ヒラギノ丸ゴ ProN', sans-serif;
}
.title-description {
  display: flex;
  justify-content: center;
  font-size: 1.2vw;
  color: #000;
  margin: 1.5vw;
}

/******************************************************************************
  member
*******************************************************************************/
.filter-area {
  display: flex;
  justify-content: center;
  margin: 3vw;
}

.filter-button {
  border: 0.2vw solid rgb(83, 86, 250);
  border-radius: 25vw;
  padding: 1vw 2vw;
}

.filter-result {
  margin: 0 18vw;
  margin-top: 5vw;
  gap: 1.5vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 13vw);
}

.member {
  width: 10vw;
}

.person-image {
  width: 10vw;
}

.person {
  position: relative;
	width: 200px;
	height: 240px;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
}
.person img {
  width: 10vw;
  position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.person:hover img:nth-of-type(1) {
  width: 13vw;
}

/* .person img:nth-of-type(1) {
  width: 6vw;
  opacity: 0;
} */

.person:hover img:nth-of-type(2) {
  width: 5vw;
  opacity: 0;
}

/* slider */
.slider-contents {
  height: 21vw;
  margin-top: 5vw;
  background: #EFEFEF 0% 0% no-repeat padding-box;
}

.slider-contents .explaination {
  padding-top: 2vw;
  border-bottom: 2px solid #158bde;
  width: 10vw;
  margin: auto;
}

/******************************************************************************
  team
*******************************************************************************/
.team {
  display: flex;
  position: relative;
}

.team.left .go-details {
  margin-top: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8vw;
  background: #158bde;
  border-radius: 25vw;
  height: 3.5vw;
  position: absolute;
  left: 25vw;
  top: 3vw;
}

.team.right .go-details {
  margin-top: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8vw;
  background: #158bde;
  border-radius: 25vw;
  height: 3.5vw;
  position: absolute;
  right: 7vw;
  top: 2vw;
}

.go-image {
  width: 2vw
}

.team-image {
  width: 36vw;
  border-radius: 25vw;
}

.team.left .explaination {
  width: 30vw;
  margin-right: 6vw;
  padding-top: 15vw;
  text-align: center;
  height: 10vw;
}

.team.right .explaination {
  width: 30vw;
  margin-left: 6vw;
  padding-top: 15vw;
  text-align: center;
  height: 10vw;
}

.team-name {
  font-size: 1.6vw;
  color: #158bde;
  font-family: 'ヒラギノ丸ゴ ProN', sans-serif;
}

.description {
  margin-top: 1vw;
}

.team.left .explaination .team-image {
  display: inline-block;
  margin-left: 10vw !important;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1vw
}

.clear {
  color: #FFF;
  font-family: 'ヒラギノ丸ゴ ProN', sans-serif;
  background: #9a9a9a 0% 0% no-repeat padding-box;
  border: 3px solid #9a9a9a;
  border-radius: 50px;
  opacity: 1;
  height: 3vw;
  width: 11vw;
  font-size: 1.2vw;
}

.sort {
  color: #FFF;
  font-family: 'ヒラギノ丸ゴ ProN', sans-serif;
  background: #158bde 0% 0% no-repeat padding-box;
  border: 3px solid #158bde;
  border-radius: 50px;
  opacity: 1;
  height: 3vw;
  width: 14vw;
  font-size: 1.2vw;
  margin-left: 0.5vw;
}

/******************************************************************************
  common
*******************************************************************************/
.main {
  min-height: 100vh;
  background-color: gray;
  background-size: cover;
  position: fixed;
  z-index: 100;
  min-width: 100vw;
  transition: all 0.5s;
  font-size: 2vw;
}

.hoge {
  transition: all 0.5s;
  background-color: red !important;
}

.d-none {
  display: none !important;
}

.modal-open {
  display: flex;
  color: #158bde;
  font-family: 'ヒラギノ丸ゴ ProN', sans-serif;
  width: 16vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  justify-content: center;
  padding: 0.3vw;
  border: 2px solid #158BDE;
  border-radius: 24px;
  opacity: 1;
}

.sort-icon {
  width: 2vw;
}

.sort-title {
  line-height: 2vw;
}

/* モーダル コンテンツエリア */
#modal-main {
  display: none;
  width: 50vw;
  height: 33vw;
  border: 3px solid #158bde;
  border-radius: 1vw;
  margin: 0;
  padding: 1.5vw;
  background-color: #ffffff;
  color: #666666;
  font-size: 15px;
  position: fixed;
  z-index: 2;
}

.modal-title {
  display: flex;
  width: 39vw;
  justify-content: center;
  font-size: 1.5vw;
  color: #158bde;
  font-family: 'ヒラギノ丸ゴ ProN', sans-serif;
}

.sort-contents {
}

.tag-title {
  background: #ededed;
  border-radius: 0.5vw;
  margin-top: 2vw;
  padding-left: 1vw;
  width: 39vw;
  height: 2vw;
  line-height: 2vw;
}

.tags {
  display: flex !important;
}

.tags > li {
  margin: 0.6vw 0.2vw;
  padding: 0.5vw 1vw;
  border: solid 2px #ededed;
  border-radius: 4vw;
  font-size: 15px;
}

.tags > li.is-selected {
  border: solid 1px rgb(198, 10, 10);
}

/* モーダル 背景エリア */
#modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8vw;
  border: 3px solid #158bde;
  border-radius: 25vw;
  position: fixed;
  bottom: 8vw;
  right: 2vw;
  opacity: 0;
  transition: all 0.65s;
}

.arrow-up-img {
  width: 1.8vw;
}

.arrow-up.active {
  opacity: 1;
  transition: all 0.65s;
}

/******************************************************************************
  slider
*******************************************************************************/

.slider {
  width: 50%;
  margin: 0 auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}

/******************************************************************************
  header
*******************************************************************************/

footer {
  background: #158bde;
  height: 5vw;
  margin-top: 15vw;
  line-height: 5vw;
  color: #fff;
  font-family: 'ヒラギノ丸ゴ ProN', sans-serif;
  font-size: 13px;
  text-align: center;
  color: black;
}



/******************************************************************************
  member detail
*******************************************************************************/
.person-mv{
  display: flex;
  margin-top: 4vw;
  border: solid;
}

.person-img-area{
  width: 44vw;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  border: solid;
}

.person-text-area{
  width: 30vw;
  border: solid;  
}

.person-name-area{
  display: inline-block;
  border: solid;
}

.person-text-area h1{
  font-size: 1.3vw;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.5vw;
}

.name-english{
  font-size: 3.5vw;
  font-weight: bold;
  color: #158bde;
  margin-bottom: 4vw;
  font-family: 'ヒラギノ丸ゴ ProN',sans-serif;
}

.name-english::after{
  content: '';
  display: block;
  background: #158bde;
  height: 0.7vw;
  margin: 0.3vw;
  border-radius: 10vw;
}

.list-area dl{
  line-height: 2;
}

.list-area dt{
  float: left;
}

.list-area dt::after{
  content: ":";
}

.list-area dd{
  margin-left: 14vw;
}

.person-contents{
  width: 40vw;
  margin: auto;
  margin-top: 4vw;
  border: solid; 
}

.content-title{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.4vw;
}

.title-color{
  color: rgb(15, 238, 164);
}

.detail-content h3{
  font-size: 1.6vw;
  text-align: center;
  margin-top: 1.5vw;
}

.detail-content p{
  line-height: 1.8;
  margin-top: 2.8vw;
}

.margin{
  margin-top: 13vw;
}

.other-person{
  display: block;
  text-align: center;
  margin-top: 10vw;
  background-color: #ebe8e8;
}

.other-person h2{
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.other-person h2::after{
  content: '';
  display: block;
  background: #158bde;
  height: 0.7vw;
  width: 10vw;
  margin: auto;
  border-radius: 10vw;
}